*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
}
input, button{
    margin: .2rem;
    border:none;
    padding: .5rem 1rem;
}
.btn{
    background: $light;
    color:$dark-grey;
    
    
}
.btn-primary{
    border-radius: 5px;
    color: $light;
    background: $primary;
    &:hover{
        background: darken($primary,10);
    }
}
.container-flex{
    background: $light-grey;
    margin: 0 5rem;
    padding: 2rem;
    height: calc(100vh);
}